.hero {
  position: relative; /* để các bóng định vị theo hero */
  margin-top: 100px;
  /* overflow: hidden;  */
}

.blur-ball {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 0;
  opacity: 0.6;
}

.top-left {
  top: -100px;
  left: -100px;
  background: radial-gradient(circle, #007bff, transparent);
}

.bottom-right {
  bottom: -100px;
  right: -100px;
  background: radial-gradient(circle, #a149db, transparent);
  
}


.hero-wrapper {
    position: relative;
  z-index: 1;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 32px;
  width: 100%;
  height: 100%; 
}

.hero-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.hero-title {
  font-size: 4rem;
}

.hight-light1 {
  color: #fad501;
  font-weight: bold;
}
.subtitle{
    font-size: 1.3em;
    margin: 10px;
}
.img-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 600px;
  overflow: hidden;
}

.img-container img {
  max-height: 600px;
  height: auto;
  width: auto; /* 👈 giữ tỉ lệ ảnh gốc */
  object-fit: contain; /* 👈 tránh cắt ảnh */
}



.hero-contact-cta {
  background: #007bff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 20px;
}

.hero-contact-cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
